* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  --system-s: 3px; /* control the size*/
  width: 100%;
  background: radial-gradient(30% 30% at 0% 30%, var(--system-g))
      var(--system-s) calc(9 * var(--system-s)),
    radial-gradient(30% 30% at 100% 30%, var(--system-g)) var(--system-s)
      calc(-1 * var(--system-s)),
    radial-gradient(30% 30% at 30% 100%, var(--system-g))
      calc(10 * var(--system-s)) 0,
    radial-gradient(30% 30% at 30% 0%, var(--system-g)) var(--system-c2);
  background-attachment: fixed;
  background-size: calc(20 * var(--system-s)) calc(20 * var(--system-s));
}

#website {
  max-width: 640px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-image: linear-gradient(to top, var(--color-gray-border) 1px, #0000 0)
    fill 0 / 0 /0 100vw;
  & h1 {
    font-family: 'Courier New', Courier, monospace;
  }

  & nav {
    display: flex;
    gap: 20px;
    & a {
      color: #000;
      & :visited {
        color: rgb(255, 132, 0);
      }
    }
  }
}

footer {
  height: var(--footer-height);
  border-image: linear-gradient(
      to bottom,
      var(--color-gray-border) 1px,
      #0000 0
    )
    fill 0 / 0 /0 100vw;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #fff;
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
