* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  --s: 3px; /* control the size*/
  width: 100%;
  background: radial-gradient(30% 30% at 0% 30%, var(--g)) var(--s)
      calc(9 * var(--s)),
    radial-gradient(30% 30% at 100% 30%, var(--g)) var(--s) calc(-1 * var(--s)),
    radial-gradient(30% 30% at 30% 100%, var(--g)) calc(10 * var(--s)) 0,
    radial-gradient(30% 30% at 30% 0%, var(--g)) var(--c2);
  background-attachment: fixed;
  background-size: calc(20 * var(--s)) calc(20 * var(--s));
}

#website {
  max-width: 640px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-image: linear-gradient(to top, var(--color-gray-border) 1px, #0000 0)
    fill 0 / /0 100vw;
  & h1{
    font-family: 'Courier New', Courier, monospace;
  }
  & a{
    color: #000;
    & :visited{
      color: red;
    }
  }
}
