:root{
  --header-height: 70px;
  --footer-height: 52px;
  --color1: #2c1c13;
}

[theme="light"]{
  /* 系统背景色 */
  /* 线条色 */
  --system-c1: #ae876f;
  --system-c2: #b58c73;
  --system-g: #0000 66%, var(--system-c1) 68% 98%, #0000;
  --color-gray-border: #e0e0e0;
}